* {
  padding: 0px;
  margin: 0px;
}

.robots {
  max-width: 50vw;
  max-height: 50vw;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3%;
  gap: 10px;
  background-color: rgb(126, 112, 213);
  color: white;
}
.parentRobot {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
  gap: 10px;
}
